python-dotenv==1.0.0
gradio==4.36.0
gradio
#langchain==0.0.334
langchain==0.2.3
langchain-community==0.2.4
langchain-openai==0.1.8
tiktoken==0.5.1
faiss-cpu==1.7.4
torch==2.0.1
sentence-transformers==2.2.2
InstructorEmbedding==1.0.1
openai==1.2.3
loguru==0.7.2
textract==1.6.5
pandas==2.1.3
qdrant-client==1.9.1
